.header {
  .content {
    border-bottom: 1px solid black;
    padding-block: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .shop {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  .navA {
    padding-block: 20px;
    display: flex;
    justify-content: center;
    nav {
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        font-size: 22px;
      }
      a:hover {
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }
}
